* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

body {
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  background-image: url('./back1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h3 {
  margin: 30px 0;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #8d0606;
}

h2 {
  font-size: 30px;
}

h3 {
  color: #262626;
  font-size: 30px;
}

.panel {
  margin: 20px;
}

.panel-left p {
  font-size: 20px;
  text-align: center;
}

.panel h3 {
  text-align: center;
}

.panel-left,
.panel-right {
  display: inline-block;
  width: 48%;
  overflow: hidden;
  margin: 40px auto 0;
  text-align: center;
}

.select {
  overflow: hidden;
  text-align: center;
  margin: 10px auto;
  max-width: 1000px;
  transition: all 0.2s;
}

.select img {
  width: 200px;
  margin: 20px;
  display: inline-block;
  transition: all 0.2s;
}

img:hover {
  transform: scale(0.8);
  padding: 13px;
}

button {
  display: block;
  padding: 5px 20px;
  border: 4px solid #ffc600;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bold;
  color: #262626;
  margin: 20px auto;
  transition: all 0.2s;
  font-size: 32px;
  font-weight: bolder;
  cursor: pointer;
}

button:hover {
  border: 4px solid #fff;
  border-radius: 20px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffc600;
  color: white;
}

span {
  font-weight: bold;
}
